<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body{background:#0f172a;color:white;text-align:center;font-family:Arial}
.btn{display:block;margin:15px auto;padding:20px;width:80%;border:none;border-radius:15px;color:white;font-size:18px}
.day{background:#3b82f6}
.week{background:#22c55e}
.month{background:#f97316}
.back{background:#ef4444}
</style>
</head>

<body>

<a href="/"><button class="btn back">⬅ رجوع</button></a>

<h2>📊 التقارير</h2>

<a href="/excel/day"><button class="btn day">📅 تقرير يومي</button></a>
<a href="/excel/week"><button class="btn week">📆 تقرير أسبوعي</button></a>
<a href="/excel/month"><button class="btn month">🗓 تقرير شهري</button></a>

</body>
</html>
